.category-card  {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-color: #0c0c0c;
  /* border-style: none; */
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

/* Section.css */
/* .category-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
} */

/* Responsive adjustments */
@media (max-width: 576px) {
  .category-card {
    margin-bottom: 1rem;
  }
  
  .card-title {
    font-size: 1rem !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-img-top {
    height: 150px !important;
  }
}